<section id="mid5">

</section>
<div class="quality">
    <div id="title">   
        <h2>Quality Management</h2>
           <div class="card-group">
              <div class="card qualityCards" style="margin: 3%;">
                  <img class="card-img-top" src="assets/img/C130.jpg" alt="Card image cap" >
                  <div class="card-header bg-dark text-white ">Forms</div>
                  <div class="card-body">
                    <p class="card-text">These are our forms:</p>
                    <div class="list-group">
                        <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/Credit%20Card%20Authorization%20TA%20Form%20v.1.0%20May%202018.pdf" class="list-group-item list-group-item-action downFile" target="_blank">Credit Card Authorization <i class="fas fa-download downFile"></i></a>
                        <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/New%20Customer%20Credit%20Application%20-%20TA%20Form%20v1.1%20June%202019.pdf" class="list-group-item list-group-item-action downFile" target="_blank">New Customer Credit Application <i class="fas fa-download downFile"></i></a>
                        <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/End-User%20Compliance%20with%20USA%20Regulations%20-%20TA%20Form%20v1.0%20Aug%202018.pdf" class="list-group-item list-group-item-action downFile" target="_blank">End-User Compliance with USA Regulations <i class="fas fa-download downFile"></i></a>
                      </div>
                  </div>
                </div>
              <div class="card qualityCards" style="margin: 3%;">
                <img class="card-img-top" src="assets/img/C130.jpg" alt="Card image cap" >
                <div class="card-header bg-dark text-white">Certificates</div>
                <div class="card-body">
                  <p class="card-text">We are certificated by:</p>
                  <div class="list-group">
                      <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/Quality%20Certificate%20TAC%202000%202017-2019%20Toucan%20Air.pdf" class="list-group-item list-group-item-action downFile" target="_blank">Quality Certificate TAC2000 <i class="fas fa-download downFile"></i></a>
                      <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/2019%20Resale%20Tax%20Certificate%20Toucan%20Air.pdf" class="list-group-item list-group-item-action downFile" target="_blank">2019 Resale Tax Certificate <i class="fas fa-download downFile"></i></a>
                      <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/Minority%20Supplier%20Certificate%202019-2020%20Toucan%20Air.pdf" class="list-group-item list-group-item-action downFile" target="_blank">Minority Supplier Certificate <i class="fas fa-download downFile"></i></a>
                      <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/Drug-Free%20Workplace%20Toucan%20Air.pdf" class="list-group-item list-group-item-action downFile" target="_blank">Drug-Free Workplace Certificate <i class="fas fa-download downFile"></i></a>
                  </div>
                </div>
              </div>
              <div class="card qualityCards" style="margin: 3%;">
                <img class="card-img-top" src="assets/img/C130.jpg" alt="Card image cap">
                <div class="card-header bg-dark text-white">Terms & Conditions</div>
                <div class="card-body">
                  <p class="card-text"> These are our terms and conditions</p>
                  <div class="list-group">
                      <a href="" class="list-group-item list-group-item-action downFile" data-toggle="modal" data-target="#exampleModalLong">Privacy Policy</a>
                      
                      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header bg-dark text-white">
                                <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div class="overlay">
                                          <h4 class="position">Toucan Air LLC Copyright Notice</h4>
                                          <div class="media-body bio">
                                              Toucan Air LLC  authorizes you to copy documents published by Toucan Air LLC  on the World Wide Web for personal or non-commercial use only, provided any copy of these documents that you make shall retain all copyright and other proprietary notices contained herein. Except as expressly provided, nothing contained in this paragraph shall be construed as conferring any license or right under any Toucan Air LLC  copyright. No materials available on the Toucan Air LLC  Web site may be stored, transmitted by any means (including but not limited to electronic, mechanical, scanning, photocopying or recording) without prior written permission of Toucan Air LLC 
                                          </div> 
                                          <h4 class="position">Trademarks and Intellectual Property Disclaimer</h4>
                                          <div class="media-body bio">
                                              Toucan Air LLC, the Toucan Air LLC logo, and all product names appearing on our Web sites are among the trademarks and/or service marks owned by Toucan Air LLC , and no trademark or service mark or other license is granted in connection with the materials contained on any Toucan Air LLC Web site.
                                              <br><br>
                                              Nothing contained herein shall be construed as conferring by implication, estoppel or otherwise any license to any patent, trademark or other intellectual property right of Toucan Air LLC  or any third party. Toucan Air LLC  makes no representations or warranties that any use of the information contained on this Web site will not infringe any such patent, trademark or other intellectual property right of Toucan Air LLC  or any third party.
                                          </div>
                                          <h4 class="position">General Legal</h4>
                                          <div class="media-body bio">
                                              Should you view the Toucan Air LLC  Web site and respond with information (excluding personal information, which is addressed under the Internet Privacy Policy) including questions, comments or suggestions regarding the content of the Toucan Air LLC  Web site, such information shall be deemed to be non-confidential and Toucan Air LLC  shall have no obligation of any kind with respect to such information and shall be free to reproduce, use, disclose and distribute the information to others without limitation. Toucan Air LLC  shall be free to use any ideas, concepts, know-how or techniques contained in such information for any purpose whatsoever including but not limited to developing, manufacturing and marketing products incorporating such information.
                                              <br>
                                              <br>
                                              TOUCAN AIR LLC  MAKES NO REPRESENTATIONS OR WARRANTIES, EITHER EXPRESS OR IMPLIED, OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR OF ANY NATURE REGARDING THE INFORMATION OR THE PRODUCT TO WHICH THE INFORMATION REFERS. 
                                              <br>
                                              <br>
                                              The information on this Web site may include typographical inaccuracies.
                                              <br>
                                              <br>
                                              UNDER NO CIRCUMSTANCES WILL TOUCAN AIR LLC  BE LIABLE TO ANY PERSON OR BUSINESS ENTITY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES BASED ON ANY USE OF THIS WEB SITE OR ANY OTHER WEB SITE TO WHICH THE TOUCAN AIR LLC  WEB SITE IS LINKED, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, OR LOSS OF PROGRAMS OR INFORMATION, EVEN IF TOUCAN AIR LLC  HAS BEEN SPECIFICALLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                                              
                                          </div> 
                                          
                                  </div>
                              </div>
                              <div class="modal-footer bg-dark text-white">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                      
                      <a href="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/docsToucan/Toucan%20Air%20Commercial%20Terms%20&%20Condiitons%20of%20Sale%20v1.0%20June%202019.pdf" class="list-group-item list-group-item-action downFile" target="_blank">Terms & Conditions of Sale<i class="fas fa-download downFile"></i></a>
                  </div>
                </div>
              </div>
    </div>
  </div>
  </div>

