<!-- <section id="slider">
    <div><img src="assets/img/airplane6.jpg" alt="...">
        <p class="caption1">Your <strong>TRUSTED</strong> aircraft parts <strong>SUPPLIER</strong></p>
    </div>
    <div><img src="assets/img/window2.png">
        <p class="caption2">We offer<strong> Repair</strong> and <strong>Consignment</strong>  Management
        throughout partnership with workshops</p>
    </div>
    <div><img src="assets/img/global2.jpg">
        <p class="caption3">We stock the most on-demand <strong> parts </strong> for
        <strong>BOEING</strong>, <strong>AIRBUS</strong>, and regional aircraft parts</p>
    </div>
    <div><img src="assets/img/welcome2.jpg">
        <p class="caption9">Certified by the <strong>TAC2000</strong> and other agencies.</p>
    </div>
</section>
-->

  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/engine32.jpg" alt="ToucanAir" width="1100" height="500">
        <p class="caption1">Your <strong style="color: darkorange;">trusted</strong> aircraft parts <strong style="color: darkorange;">supplier</strong></p>
      </div>
      <div class="carousel-item">
        <img src="assets/img/window22.png" alt="ToucanAir" width="1100" height="500">
        <p class="caption2">We offer repair and consignment management
          throughout partnership with workshops</p>
      </div>
      <div class="carousel-item">
        <img src="assets/img/global22.jpg" alt="ToucanAir" width="1100" height="500">
        <p class="caption3">We stock the most on-demand parts for
          <strong>Boeing</strong>, <strong>Airbus</strong>, and regional aircraft parts</p>
      </div>
      <div class="carousel-item">
          <img src="assets/img/welcome22.jpg" alt="ToucanAir" width="1100" height="500">
          <p class="caption9">Serving your most urgent requirement 24 hours 365 days a year</p>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
 <!-- <div class="LoadToucan" *ngIf='showloader'>
    <img src="assets/img/touca.gif" width="220" height="200"style="border-radius: 136px;" >
  </div>-->
<section id="contentHome">
  <div id="CompAbout">
      <div class="row">
          <div class="col homeCard" id="AbPrice">
              <i class="far fa-thumbs-up fa-5x"></i>
              <h4>Best Prices</h4>
              <div class="detail"> Our ability to form key partnerships with vendors and certified 
                FAA &amp; EASA repair stations worldwide has given us the opportunity to offer our customers the most 
                competitive prices in the market.
              </div>
          </div>
          <div class="col homeCard" id="AbQa">
              <i class="fas fa-fighter-jet fa-5x"></i>
              <h4>High Quality</h4>
              <div class="detail" > We integrate Quality into each aspect 
                of our operation. Toucan Air has effective internal procedures; achieving 
                greater efficiency, consistency and productivity.      
              </div>
          </div>
          <div class="col homeCard" id="AbWorld">
              <i class="fas fa-globe-americas fa-5x"></i>
              <h4>Global Logistics Network</h4>
              <div class="detail" > We can ship worldwide. Hazmat or overweight shipments, thanks to
                  our key logistical contacts you can rest assure your shipment will arrive safe and on time when
                  needed where needed.
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col homeCard" id="AbTime">
              <i class="far fa-clock fa-5x"></i>
              <h4>24/7 Support</h4>
              <div class="detail"  > 3:00 AM AOG? No problem one of our staff will be able to assist you at the most
                  crucial times, and thanks to our logistical support we are able to ship at any time to anywhere in
                  the world.
              </div>
          </div>
          <div class="col homeCard" id="AbMng">
              <i class="fab fa-slideshare fa-5x"></i>
              <h4>Consignment Management</h4>
              <div class="detail" > We can manage your parts surplus either
                 by purchasing your stock, or by holding it on consignment and trading 
                 it on your behalf, maximising the financial benefits for both parties.     
              </div>
          </div>
          <div class="col homeCard" id="AbInv">
              <i class="fas fa-coins fa-5x"></i>
              <h4>Investments</h4>
              <div class="detail" > Toucan Air offers Capital Management on a broad spectrum of aviation assets for
                  investors around the globe. Our capital management utilizes extensive market intel and
                  technical data gathered to quickly start making you profits on your investment. 
              </div>
          </div>
          <div class="col homeCard" id="AbInv">
              <i class="fas fa-tools fa-5x"></i>
              <h4>Repair Management</h4>
              <div class="detail"  > Let us oversee every aspect of the Repair 
                Process. We ensure the best quality work, offer the most competitive pricing
                 and delivery on time. 
              </div>
          </div>
      </div>
  </div> 
 </section>
<!--<section id="mid5">
  <div class="dark"> 
      <div id="titleMid">   
        <h2>Subscribe to get Offers</h2>
        <p>Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum</p>
      </div>
      <div class="input-group mb-3" id="InputSusc">
          <input type="text" class="form-control form-control-sm" placeholder="Enter a Email Address" aria-label="Enter a Email Address" aria-describedby="basic-addon2">
          <div class="input-group-append">
             <button type="button" class="btn btn-success btn-sm">Suscribe</button>
          </div>
      </div>
  </div>
</section>-->

<section id="contentDesc" class="description">
    <div class="contentDesc1">
        <div class="desc1">
              <div id="desc" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#desc" data-slide-to="0" class="active"></li>
                  <li data-target="#desc" data-slide-to="1"></li>
                  <li data-target="#desc" data-slide-to="2"></li>
                  <li data-target="#desc" data-slide-to="3"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/PartsCarousel/parte1.png" alt="ToucanAirParts">
                  </div>
                  <div class="carousel-item">
                    <img src="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/PartsCarousel/parte2.png" alt="ToucanAirParts">
                  </div>
                  <div class="carousel-item">
                    <img src="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/PartsCarousel/parte3.png" alt="ToucanAirParts">
                  </div>
                  <div class="carousel-item">
                    <img src="http://ec2-18-217-17-68.us-east-2.compute.amazonaws.com/PartsCarousel/parte4.png" alt="ToucanAirParts">
                  </div>
                </div>
              </div>
        </div>
        <div class="descImg">
          <img src="assets/img/airplane3.jpg" width="750" height="500">
        </div>
    </div>
    <!--
    <div class="contentDesc2">
      <div class="descImg2">
        <img src="assets/img/airplane5.jpg" width="750" height="400">
      </div>
      <div class="desc2">
        <h3>Terms and Conditions </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
      </div>
    </div>-->
</section>
