<section id="mid3">

</section>
<section id="contentAbout">
    <div id="title">   
        <h2>Our History</h2>
        <div class="aboutText">
            <p>Founded in 2015, Toucan Air provides worldwide sales, 
            distribution and exchange of spare parts for commercial airliners,
            specializing in Boeing and Airbus passenger aircraft.  
            We provide repair management and management of consignments on behalf of 
            airlines and other parts distributors.  Toucan Air takes a global approach 
            to its work, and has fluent English, German, and Spanish speaking staff on 
            hand to assist our clients with their needs. Toucan Air has been approved by 
            the U.S. Government as a contractor to the United States Air Force and Navy, 
            CAGE #7HJL8.
            </p>
        </div>
        <div id="title">   
            <h2>Who We Are</h2>
            <div class="aboutText">
                <p>Toucan Air is a family privately owned Aviation Components Provider with headquarters in Florida U.S.A.​</p>
                <p>Our Family Values of honesty, courtesy and respect, combined with the speed, flexibility and adaptability of a small company are the key pillars of our business.​ Our vision is to leave a legacy of business success, respect and honesty for generations to come. </p>
                <p>We always focus on our customer’s needs; we are constantly transforming & adapting our aviation services to deliver the best solutions to our customers. Our mission is to help our customer become more profitable by providing unmatched service, quality products and price, our customers success is our success.</p> 
            </div>   
        </div> 
        
    </div>        
</section>