<section id="mid4">

</section>
<section id="contentTeam">
    <div id="title">   
        <h2>Our Team</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 colTeam">
            <img class="teamImg" src="assets/img/JONN.jpg" data-toggle="modal" data-target="#exampleModal">
            <h3>Jonathan Navas</h3>
            <h4 class="postHme">Founder & CEO</h4>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-dark text-white">
                          <h5 class="modal-title" id="exampleModalLabel">Jonathan Navas</h5>
                          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="overlay">
                                    <img class="mr-3  imgBio" src="assets/img/pool.jpg" alt="Jon">
                                    <h4 class="position">Founder & CEO</h4>
                                            <div class="media-body bio">
                                              Jonathan “ChaChi” Navas founded Toucan Air in 2015, 
                                              With over a decade of experience, he was determined 
                                              to create a company dedicated to aviation with the 
                                              outmost integrity, where customers could really enjoy 
                                              the rewards of quality, and honesty. Today those 
                                              core principles are still forged into the core of 
                                              the business and his employees.

                                              While earning his way through college, Jonathan began 
                                              his aviation career working with Blue Star Aerospace 
                                              as a shipping and receiving clerk and ended up as 
                                              warehouse manager. After graduating with a BA in 
                                              Criminal Justice, he already had the “aviation bug” 
                                              and his passion for aviation only grew. He took on 
                                              the role of sales manager for Shoreline Aerospace 
                                              and from there his career took off, gradually 
                                              taking on more demanding roles within some of the 
                                              most reputable companies in Aviation. As the team 
                                              leader, Jonathan’s vision is to make Toucan Air a 
                                              true world leader in Aviation. With the help and 
                                              wisdom of his father and a talented team, Toucan Air 
                                              continues to grow each day, getting one step closer 
                                              towards that vision.
                                              <hr>
                                              During his spare time Jonathan enjoys Scuba diving 
                                              and BBQing pool side with his family.                                               
                                              <hr>
                                              “The passion for aviation runs through my veins. 
                                              That is why I couldn’t imagine myself doing anything 
                                              else, I have an unfathomable devotion for this 
                                              industry. I believe we are just beginning to scratch
                                               the surface of what aviation and aerospace will be 
                                               in the future and I want Toucan Air to play a crucial 
                                               part of this inevitable growth. This is why 4 years 
                                               ago I set myself on a mission to start a company not 
                                               only with competitive prices, but a company everyone 
                                               can trust, with the outmost integrity and unmatched 
                                               commitment.”
                                             </div> 
                                    
                            </div>
                        </div>
                        <div class="modal-footer bg-dark text-white">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>   
                <button popover="(754)703-7280"
                    popoverPlacement="left"
                    [popoverOnHover]="false"
                    [popoverCloseOnClickOutside]="true"
                    class="iconPhone" 
                    >
                    <i class="fas fa-phone pr-1"></i> 
                </button> 
                <button popover="Jon@toucanair.com"
                    popoverPlacement="bottom-right"
                    [popoverOnHover]="false"
                    [popoverCloseOnClickOutside]="true"
                    class="iconEmail" 
                    >
                    <i class="fas fa-envelope pr-1"></i> 
                </button>
                <a class="iconWhatsapp" href="https://api.whatsapp.com/send?phone=19548641136" target="_blank"><i class="fab fa-whatsapp pr-1" style="font-weight: bold;"></i></a>                  
                <a class="iconLinked" href="https://www.linkedin.com/in/jonathan-navas-59382369/" target="_blank"><i class="fab fa-linkedin-in pr-1"></i></a>  
                <a class="iconSkype" href="skype:echo123?chat" target="_blank"><i class="fab fa-skype pr-1"></i> </a>  
        </div>
        <div class="col-sm-6 colTeam">
                <img class="teamImg" src="assets/img/JUAN.jpg"  data-toggle="modal" data-target="#exampleModal1">
                <h3>Juan Navas</h3>
                <h4 class="postHme">Vice-President</h4>
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header bg-dark text-white">
                              <h5 class="modal-title" id="exampleModalLabel">Juan Navas</h5>
                              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div class="overlay">
                                        <img class="mr-3 imgBio" src="assets/img/golf.jpg" alt="Jon">
                                        <h4 class="position">Vice-President</h4>
                                                <div class="media-body bio">
                                                        Juan joined Toucan Air in 2017 as Vice-President after a +27 
                                                        years superb career with Honeywell International Inc.  Juan holds a diploma
                                                        in Advanced Programs for Managers from St. Thomas University, a diploma in
                                                        Strategic Management – Executive Program – from the University of
                                                        Minnesota Carlson School of Management and holds a B.Sc. in Electrical
                                                        Engineering with specialization in Automation & Control from Universidad
                                                        Central de Venezuela.
                                                        Juan loves outdoor activities, biking, scuba diving and spending as much
                                                         quality time as possible with his family and friends.
                                                 </div> 
                                        
                                </div>
                            </div>
                            <div class="modal-footer bg-dark text-white">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button popover="(754)300-2467"
                          popoverPlacement="left"
                          [popoverOnHover]="false"
                          [popoverCloseOnClickOutside]="true"
                          class="iconPhone" >
                          <i class="fas fa-phone pr-1"></i> 
                      </button>  
                      <button popover="Juan@toucanair.com"
                          popoverPlacement="bottom-right"
                          [popoverOnHover]="false"
                          [popoverCloseOnClickOutside]="true"
                          class="iconEmail">
                          <i class="fas fa-envelope pr-1"></i> 
                      </button>  
                      <a class="iconWhatsapp" href="https://api.whatsapp.com/send?phone=19546094638" target="_blank"><i class="fab fa-whatsapp pr-1" style="font-weight: bold;"></i></a>                  
                      <a class="iconLinked" href="https://www.linkedin.com/in/juan-navas-7198a85/" target="_blank"><i class="fab fa-linkedin-in pr-1"></i></a>  
                      <a class="iconSkype" href="skype:janavas989?chat" target="_blank"><i class="fab fa-skype pr-1"></i> </a>   
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-6 colTeam">
                    <img  class="teamImg" src="assets/img/prueba4.jpg"  data-toggle="modal" data-target="#exampleModal2">
                    <h3>Isabel Roa</h3>
                    <h4 class="postHme">Marketing Director</h4>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-dark text-white">
                                  <h5 class="modal-title" id="exampleModalLabel">Isabel Roa</h5>
                                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="overlay">
                                            <img class="mr-3 imgBio" src="assets/img/beach.jpg" alt="Jon">
                                            <h4 class="position">Marketing Director</h4>
                                                    <div class="media-body bio">
                                                      Isabel is a graduate of Universidad Catolica del Tachira, Venezuela, with degrees
                                                      in Business Administration with an emphasis on Marketing. She also holds a master's degree in
                                                      E-Business Management from Universidad del Salvador. She has worked in different
                                                      companies with the responsibility for developing and implementing marketing strategies, 
                                                      with more than 8 years of experience in marketing and sales, she joined to the
                                                      Toucan Air team in 2018 implementing marketing strategies to increase sales.
                                                     </div> 
                                            
                                    </div>
                                </div>
                                <div class="modal-footer bg-dark text-white">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button popover="(754)703-7267"
                              popoverPlacement="left"
                              [popoverOnHover]="false"
                              [popoverCloseOnClickOutside]="true"
                              class="iconPhone" >
                              <i class="fas fa-phone pr-1"></i> 
                        </button>  
                        <button popover="isabel@toucanair.com"
                          popoverPlacement="bottom-right"
                          [popoverOnHover]="false"
                          [popoverCloseOnClickOutside]="true"
                          class="iconEmail">
                          <i class="fas fa-envelope pr-1"></i> 
                        </button> 
                          <a class="iconWhatsapp" href="https://api.whatsapp.com/send?phone=13059781060" target="_blank"><i class="fab fa-whatsapp pr-1" style="font-weight: bold;"></i></a>                  
                          <a class="iconLinked" href="https://www.linkedin.com/in/isabel-roa/" target="_blank"><i class="fab fa-linkedin-in pr-1"></i></a>  
                          <a class="iconSkype" href="skype:isabel.roa2?chat" target="_blank"><i class="fab fa-skype pr-1"></i> </a>   
            </div>
            <div class="col-sm-6 colTeam">
                <img class="teamImg" src="assets/img/prueba3.jpg"  data-toggle="modal" data-target="#exampleModal3">
                <h3>Jorge 'JJ' Alfaro</h3>
                <h4 class="postHme">Director of Business Development</h4>
                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header bg-dark text-white">
                              <h5 class="modal-title" id="exampleModalLabel">Jorge Alfaro</h5>
                              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div class="overlay">
                                        <img class="mr-3 imgBio" src="assets/img/soccer.jpg" alt="Jon">
                                        <h4 class="position">Director of Business Development</h4>
                                                <div class="media-body bio">
                                                  Jorge (JJ) graduated from Florida International University in 2015 with a bachelor's 
                                                  degree in hospitality management. He started in the aviation world in 2017 
                                                  with MTI Aviation and then joined Toucan Air as Director of Business Development in
                                                  early 2019. 
                                                 </div> 
                                        
                                </div>
                            </div>
                            <div class="modal-footer bg-dark text-white">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                        <button popover="(754)703-7298"
                                popoverPlacement="left"
                                [popoverOnHover]="false"
                                [popoverCloseOnClickOutside]="true"
                                class="iconPhone" >
                                <i class="fas fa-phone pr-1"></i> 
                          </button>  
                          <button popover="jj@toucanair.com"
                            popoverPlacement="bottom-right"
                            [popoverOnHover]="false"
                            [popoverCloseOnClickOutside]="true"
                            class="iconEmail">
                            <i class="fas fa-envelope pr-1"></i> 
                          </button> 
                          <a class="iconWhatsapp" href="https://api.whatsapp.com/send?phone=13059721046" target="_blank"><i class="fab fa-whatsapp pr-1" style="font-weight: bold;"></i></a>                  
                          <a class="iconLinked" href="https://www.linkedin.com/in/jorgealfaro707/" target="_blank"><i class="fab fa-linkedin-in pr-1"></i></a>  
                         <!--<a class="iconSkype" href="https://www.linkedin.com/in/juan-navas-7198a85/" target="_blank"><i class="fab fa-skype pr-1"></i> </a>  -->
            </div>
        </div>
</section>